doctype 5
html(lang="en")
    head
      link(href="http://fonts.googleapis.com/css?family=Lato:400,700,900,300italic,400italic,700italic,900italic", rel="stylesheet", type="text/css")
      link(rel="stylesheet", type="text/css", href="css/index.css")
    body
      #container
        #header-wrapper
          #header
            #title
              #github
                a(href="#")
                  .github
                    span Fork me on Github
              .leftLine(style="float:left")
              h1 Ground
              .rightLine(style="float:left")
              h2 Modern web application development framework
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod nulla vitae lectus rutrum molestie. Pellentesque arcu ipsum, vehicula faucibus gravida vitae, bibendum at tortor. Quisque ut lacus sapien, eget pretium purus.
        .menubar.mainbar
          .barcontent
            ul
              li.first
                a(href="#").selected Intro
              li
                a(href="#") Guide
                .separator
              li
                a(href="#") Installing
                .separator
              li
                a(href="#") Reference
                .separator
              li
                a(href="#") About
                .separator
              li
                a(href="#") Source
                .separator
        .menubar.subbar
          .barcontent
            ul
              li.first
                a(href="#").selected opcion
              li
                a(href="#") sdfsfd
                .separator
              li
                a(href="#") sdfsf
                .separator
        != body
