link(rel="stylesheet", type="text/css", href="/css/demos.css")
script
    curl = {
      packages: {
        'ground': {
          path: '/lib/ground/dist',
          main: 'gnd',
          lib: ''
        },
      },
      paths : {
        underscore : 'https://raw.github.com/amdjs/underscore/master/underscore-min'
      }
    };
script(src="https://raw.github.com/cujojs/curl/master/dist/curl-kitchen-sink/curl.js")
script(id="demo-list-js")
    curl(['underscore'], function(_){
      curl(['ground'], function(gnd){
        Gnd.Route.listen(function(req) {
          req.use('template', _.template);
          
          req.get('','#main',function() {
        
            req
              .load('data/fauna.json')
              .render('templates/fauna.tmpl')
              .enter(function(el){$(el).show('fast')})
        
            // Family
            req.get(':family', '#family', function() { // ':family' is a parameter
              req
                .load('data/families/' + req.params['family'] + '.json')
                .render('templates/family.tmpl')
                .enter(function(el){$(el).show('slow')})
                .exit(function(el, done){$(el).hide('fadeOut', done)})
       
              // Animal
              req.get(':animal', '#animal', function() { // ':animal' is a parameter
                req
                  .load('data/families/' + req.params['family'] + '/' +req.params['animal'] + '.json')
                  .render('templates/animal.tmpl')
                  .enter(function(el){$(el).show('fadeIn')})
                  .exit(function(el, done){$(el).hide(done)})
              });
            });
          })
        })
      })
    })
script
script
  $(function(){
   // $('.barcontent').html('<ul style="margin:auto"><li style="width: 100%;text-align: center;margin: 0px;"><a href="/">Return to Ground.io</a></li></ul>'); // Fill the empty menubar
    $('#code-example').text($('#demo-list-js').text()); // insert the code preview
  })
h1 Routing example
.routes-example
  p This example demonstrates how Ground's hierarchical routing works</p>
  div(id="main")
  div(style="float:none;clear:both;padding-top:20px;")
h1 Code example
pre 
 code(id="code-example")